<nav class="navbar brand_nav">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav brand_nav">
        <li><a href="/">Home</a></li>
        <li><a href="/how_it_works">How it Works</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= @current_user.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Start Project</a></li>
            <li><a href="#">My Projects</a></li>
          </ul>
        </li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
