<div class = "about">
  <p>
    It is estimated that there are over 610,000 people experiencing homelessness on any given night in the United States.
    Shelters are trying to keep up with the need but many lack the funds to provide the services needed.
  </p>
  <p>
    GiveHaven.org provides a way for shelters to request the items they need to serve their communities. It also gives donors the ability to not only know exactly how their money will be spent but also to see the impact that their donation makes on the community.
  </p>
</div>
