@import "bootstrap-sprockets";
@import "bootstrap";

// GLOBALS
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .75px;
}

// HEADER
.brand {
  margin-bottom: 60px;
  padding: 20px;
  letter-spacing: 1px;
  font-family: 'Cabin';
}

.brand ul {
  list-style: none;
}

.brand li {
  font-size: 20px;
}

.brand a, .brand a:visited, .brand a:hover {
  text-decoration: none;
  margin-left: 110px;
  margin-top: 30px;
  position: absolute;
  font-size: 30px;
  color: #f14392;
}

.logo {
  width: 100px;
  position: absolute;
  z-index: -1;
}

// NAV BAR
.brand_nav {
  background-color: #4392f1;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
}

.brand_nav a, .brand_nav a:visited {
  color: #fff;
  background-color: #4392f1;
}

.brand_nav ul li a:hover, .brand_nav ul li a:active{
  background-color: #72ADF5;
}

.dropdown-menu li a, .dropdown-menu li a:hover {
  color: #fff;
}
.nav .open a:focus {
  background-color: #72ADF5;
}

// PROFILE
.profile {
  max-width: 40%;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #fff;
  border: 15px solid #F7F7F7;
  border-radius: 10px;
}

.profile img {
  max-width: 25%;
  border-radius: 10px;
  float: left;
  margin: 5px 20px 5px 0;
}

.profile h1, .profile h2{
  color: #4392f1;
  margin-bottom: 15px;
}

.profile h1 {
  margin-top: -10px;
  font-size: 28px;
}

.profile h2 {
  font-size: 20px;
}

.emphasis {
  font-weight: 500;
}

.green {
  color: #43f1a2;
}

.pink {
  color: #f14392;
}

.blue {
  color: #4392f1;
}

.orange {
  color: #f1a243;
}

.grey {
  color: #F7F7F7;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}



.project {
  max-width: 80%;
  margin: auto;
  padding: 10px;
  border: solid 8px #F7F7F7;
  border-radius: 10px;
}

.thick-line {
  max-width: 100%;
  border-top: solid 8px #F7F7F7;
}

.project img {
  max-width: 200px;
  max-height: 150px;
}

.project-img {
  height: 150px;
}

.project-top {
  padding: 10px;
  height: 175px;
}

.project-title {
height: 75px;
}

.project-title img{
  max-width: 25px;
  max-height: 25px;

}

.blue-bar {
  background-color: #4392f1;
}

.grey-bar {
  background-color: #F7F7F7;
}

.progress-mini {
  max-width: 90%;
  margin: auto;
}

.tile {
  margin: auto;
  padding: 10px;
  max-width: 90%;
  height: 275px;
  border: solid 10px #F7F7F7;
  border-radius: 10px;
}

.tile img {
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  float: left;
}

.tile h2 {
  font-size: 24px;
}

.tile h3 {
  font-size: 18px;
}

// FORMS
.center-form {
  max-width: 40%;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  background-color: #5ba0f3;
  border-radius: 10px;
  color: #fff;
}

.center-form legend {
 color: #fff;
}

.form-btn {
  background-color: #2b84ef;
  color: #fff;
  border: 2px solid #fff;
}

.form-btn:hover {
  background-color: #2b84ef;
  color: #fff;
  border: 2px solid #fff;
}

.text {
  width: 100%;
  height: 500px;
}

.right-btn {
  text-align: right;
}

.about {
  width: 50%;
  margin: auto;
  margin-top: 35px;
  line-height: 1.5;
}

.about img {
  max-width: 45%;
  float: left;
  margin: 15px;
  border-radius: 10px;
}

.container-padding {
  margin-bottom: 50px;
}

// HOMEPAGE SLIDER

.slider {
  width: 950px;
  margin: 20px auto;
  margin-bottom: 50px;
  text-align:center;
}

.slide-tile {
  width: 30%;
  height: 225px;
  margin: 10px;
  border: 4px solid #4392f1;
}

.slide-tile a, .slide-tile a:active, .slide-tile a:hover {
  text-decoration: none;
}

.slide-tile img {
  max-width: 100px;
  max-height: 75px;
  float: left;
  margin: 10px;
}

.image-container {
  height: 100px;
}

.description {
  height: 3em;
  overflow: hidden;
}

.description p {
  text-align: left;
  margin: 0 10px;
  color: #000;
  font-size: 14px;
}
